// importation variables
@import 'variables';

// importation mixins
@import 'mixins';

// importation fonts
@import '/Public/Fonts/font.css';


* {
    box-sizing: border-box;
    background-color: $secondaire;
    font-family: "Shrikhand", "cursive";
}