@import "/Public/Fonts/font.css";
* {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.fonctionnement__icon {
  margin-right: 1rem;
  color: #7e7e7e;
}

body {
  font-family: "Roboto", "cursive";
}

header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
header h1 {
  font-family: "Shrikhand", "cursive";
  text-align: center;
  display: block;
  font-size: 2, 2rem;
  font-weight: bold;
}

main {
  display: block;
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #eaeaea;
  font-size: 1.2rem;
  position: relative;
}
.localisation__text {
  font-weight: 600;
  padding-left: 1rem;
}

.reservez {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.reservez h2 {
  display: block;
  font-weight: bold;
  font-size: 1.8rem;
}
.reservez p {
  display: block;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}
.reservez__btn {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1.5rem;
  font-weight: 400;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 100px;
  color: #fff;
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  box-shadow: 0.3px 0.6px 20px rgba(0, 0, 0, 0.25);
  border: 0px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.reservez__btn:hover {
  background: linear-gradient(to bottom, #ff79da, #ae80e5);
  box-shadow: 0.3px 0.6px 40px rgba(0, 0, 0, 0.25);
}

.fonctionnement {
  padding: 2rem 1rem;
}
.fonctionnement h2 {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.fonctionnement ol {
  min-width: 333px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 2rem;
  padding-right: 2rem;
}
.fonctionnement ol li {
  padding: 1.5rem;
  margin: 1.5rem 1.5rem;
  box-shadow: 0.3px 0.3px 17px rgba(0, 0, 0, 0.18);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  font-weight: 500;
  display: flex;
  position: relative;
}
.fonctionnement ol li:hover {
  background-color: #f5edff;
}
.fonctionnement ol li:hover::after {
  opacity: 1;
}
.fonctionnement ol li:hover i {
  color: #9356dc;
  font-weight: bolder;
}
.fonctionnement ol li::after {
  content: "1";
  background: #9356dc;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -0.6rem;
  top: 1.3rem;
}
.fonctionnement ol li i {
  font-size: 1.2rem;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.restaurant h2 {
  font-weight: bold;
  font-size: 1.8rem;
  padding-bottom: 1.5rem;
}
.restaurant .restaurant-card {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.restaurant .restaurant-card .card {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.restaurant .restaurant-card .card img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.restaurant .restaurant-card .card__span {
  background-color: #99e2d0;
  color: #008766;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.restaurant .restaurant-card .card__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.restaurant .restaurant-card .card__footer .card__content__heart {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 0;
}
.restaurant .restaurant-card .card__footer .card__content__heart .fa-heart {
  margin-right: 1.4rem;
  font-size: 1.8rem;
  border: 0px;
  position: absolute;
}
.restaurant .restaurant-card .card__footer .card__content__heart .heartcolored {
  position: relative;
  opacity: 0;
  transition: all 300ms;
  transform: scale(1.1);
  filter: brightness(1.1);
  background: -moz-linear-gradient(top, #ff79da 0%, #9356dc 100%);
  background: -webkit- linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant .restaurant-card .card__footer .card__content__heart:hover .heartcolored {
  opacity: 1;
}

footer {
  background-color: #353535;
  padding: 1rem;
}
footer .footer_logo {
  color: #fff;
  font-family: "Shrikhand", "cursive";
  font-size: 1.1rem;
}
footer a {
  color: #fff;
  line-height: 1.8rem;
}
footer i {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.menutopimg {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
}

.header_arrow {
  display: flex;
  flex-direction: row;
}
.header_arrow a {
  display: flex;
  align-items: center;
}
.header_arrow i {
  font-size: 1.2rem;
  margin-right: 4rem;
  color: #353535;
}

.block {
  margin: auto;
  position: relative;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem;
  background-color: #f6f6f6;
}

.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 0 1rem;
}
.menu__header .menu__title {
  font-family: "Shrikhand", "cursive";
}
.menu__header .menu__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  border: 0;
}

.menu__heart {
  font-size: 2rem;
}

.bloc-menu {
  display: flex;
  flex-direction: column;
}

.mainmenu {
  padding: 1rem;
  margin-top: 1rem;
}
.mainmenu__title {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.mainmenu .menuitem {
  background-color: #fff;
  display: flex;
  flex: 2;
  justify-content: space-between;
  border-radius: 1rem;
  box-shadow: 0.3px 0.3px 17px rgba(0, 0, 0, 0.18);
  padding: 1rem;
  margin: 1rem 0;
  cursor: pointer;
}
.mainmenu .menuitem__title {
  line-height: 1.5rem;
}
.mainmenu .menuitem__price {
  display: flex;
  flex: 1;
  font-weight: bold;
  justify-content: flex-end;
  align-items: flex-end;
}

.button-commander {
  display: flex;
  justify-content: center;
}
.button-commander .button_order {
  width: auto;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  border-radius: 100px;
  color: #fff;
  background: #ff79da;
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  box-shadow: 0.3px 0.6px 19px rgba(0, 0, 0, 0.25);
  border: 0;
  padding: 0.75rem 1.5rem;
  margin-bottom: 5rem;
  margin-top: 2rem;
  font-size: 1.1rem;
}

/*# sourceMappingURL=style.css.map */
