// Animation checked
@mixin animation_checked {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

//   Delay meny
.menuitem {
  animation: itemshow 0.6s;
  transform: scale(0);
  animation-fill-mode: both;
}

@keyframes itemshow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.delay1 {
  animation-delay: 0.1s;
}

.delay2 {
  animation-delay: 0.2s;
}

.delay3 {
  animation-delay: 0.3s;
}

.delay4 {
  animation-delay: 0.4s;
}
.delay5 {
  animation-delay: 0.5s;
}
.delay6 {
  animation-delay: 0.6s;
}
.delay7 {
  animation-delay: 0.7s;
}
.delay8 {
  animation-delay: 0.8s;
}
.delay9 {
  animation-delay: 0.9s;
}
