// Bouton hearts
@mixin heart-btn1 {
  transition: all 400ms;
  transform: scale(1.15);
  filter: brightness(1.1);
  background: -moz-$background_button;
  background: -webkit-$background_button;
  background: $background_button;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
